.dzikirCalenderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 0 1em;
}

.dzikirJournalContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2em;
  flex-grow: 1;
  padding: 1em;
  margin: 1rem 0;
}

.dzikirJournal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: start;
}

.dzikirJournalTab {
  display: flex;
  width: 100%;
  gap: 0;
  button {
    flex: 1;
    border-radius: 0;
    border: none;
    padding: 0.8em 0;
    margin: 0;
    background-color: var(--surface-tab);
    color: var(--surface-container);

    &.active {
      background-color: var(--surface-tab-active);
      color: var(--surface-container);
    }
    &:first-child {
      border-radius: 0.5em 0 0 0.5em;
    }
    &:last-child {
      border-radius: 0 0.5em 0.5em 0;
    }
  }
}
