.profile{
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;

    .img{
        width: 150px;
        height: 150px;
        position: relative;
        border-radius: 150px;
        border: 1px solid var(--accent-border);
        background-color: var(--accent-bg);
        outline: 1px solid var(--accent-bg);
        outline-offset: 2px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

/* .dzikirJournal{

} */