.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 100px;
  button {
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    height: 32px;
    padding: 0;
  }
  .darkModeToggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    svg {
      flex-shrink: 0;
    }
  }
}

.tasbih{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    .img{
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            rotate: -100deg;
        }
    }

    & > div {
        text-align: start;
        h1 {
            margin: 0;
            font-size: 1rem;
        }
        p{
            margin: 0;
            font-size: 0.8rem;
        }
    }
}

.info {
  position: relative;
}

.modalInfo {
  position: absolute;
  z-index: 9999;
  width: max-content;
  background-color: var(--accent-bg);
  color: var(--surface-container);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  right: 1em;
  top: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;

  & > div {
    border-bottom: 1px solid var(--accent-border);
    padding: 0.5em 0;
    width: 100%;
    text-align: start;
    font-size: 1rem;
    font-weight: 400;

    &:last-child {
      border: none;
    }
  }
}

.infoValue {
  cursor: pointer;
  font-weight: bold;
}

.ICarrowUp {
  transform: rotate(45deg);
  color: var(--surface-container);
}

.rightMenu {
  display: flex;
  gap: 1em;
  flex-grow: 1;
  justify-content: flex-end;
}

.leftMenu {
  display: flex;
  align-items: center;
  gap: 1em;
  .resetBtn{
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile {
    position: relative;
    width: max-content;
    height: auto;
    background: none;
    padding: 6px;
    
    .detail {
      position: absolute;
      z-index: 9999;
      width: max-content;
      background-color: var(--accent-bg);
      color: var(--surface-container);
      border-radius: 0.5em;
      padding: 0.5em 1em;
      border: none;
      cursor: pointer;
      left: 0;
      top: 120%;
      display: flex;
      flex-direction: column;
      align-items: start;

      & > div {
        border-bottom: 1px solid var(--accent-border);
        padding: 0.5em 0;
        width: 100%;
        text-align: start;
        font-size: 1.2rem;
        font-weight: 500;

        &:last-child {
          border: none;
          button {
            background-color: var(--surface-container);
            color: var(--surface-bg);
          }
        }

        button {
          font-size: 1rem;
          background: none;
          border: 1px solid var(--accent-border);
          border-radius: 0.2em;
          padding: 0.5em 1em;
          color: var(--surface-container);
          font-weight: bold;
          height: auto;
          width: 100%;
        }
      }
    }
  }
}

.saveConfirm{
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 1em;
}

.saveConfirmContainer{
  background-color:var(--bg);
  padding: 1em;
  border-radius: 0.5em;
  border: 2px solid var(--accent-border);

  display: flex;
  flex-direction: column;
  gap: 1em;

  box-shadow: 0 5px 5px -10px rgba(28, 82, 11, 0.1), 0 4px 6px -2px rgba(58, 196, 3, 0.075);
}

.saveConfirmInput{
  position: relative;
  .saveConfirmIcon{
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%)
  }
}

.textInput{
  padding: 0.5em 1.5em;
  border: 1px solid var(--surface-btn);
  border-radius: 0.2em;
  color: var(--surface-btn);
  font-weight: 400;

  &::placeholder{
    color: var(--surface-bg)
  }
}

.saveConfirmFooter{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;

  button{
    padding: 0.5em 1em;
    border-radius: 0.2em;
    border: 1px solid var(--surface-btn);
    cursor: pointer;
    background-color: var(--surface-bg);
    color: var(--surface-container);

    &:first-child{
      background-color: var(--surface-container);
      color: var(--surface-bg);
    }
  }
}