* {
  box-sizing: border-box;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

:root {
  --primary: #163832;
  --secondary: #dbf2de;

  --text: #0b2b26;
  --text-h: #08060d;
  --bg: #daf1de;
  --border: #e5e4e7;
  --accent: #163832;
  --accent-bg: #0b2b26;
  --accent-border: #8eb69b;

  --surface-btn: var(--accent-border);
  --surface-container: var(--bg);
  --surface-bg: var(--accent-bg);

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html.dark {
  --text: #daf1de;
  --text-h: #f3f4f6;
  --bg: #051f20;
  --border: #2e303a;
  --accent: #163832;
  --accent-bg: #8eb69b;
  --accent-border: #0b2b26;

  --surface-btn: var(--secondary);
  --surface-container: var(--bg);
  --surface-bg: var(--accent-bg);

  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

#root {
  width: 100vw;
  position: relative;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @media (min-width: 768px) {
    max-width: 480px;
    border: 1px solid var(--border);
    padding: 1em;
  }
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 32px;
  letter-spacing: -1.68px;
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
a{
  text-decoration: underline;
  color: var(--surface-container);
  cursor: pointer;
}


input{
  border: 1px solid var(--accent-border);
  outline: none;
  width: 100%;
  background-color: transparent;
  color: var(--surface-container);
  font-size: 1.2rem;
  &::placeholder{
    color: var(--accent-border); 
    opacity: 0.5;
  }
}